
#img-brand {
    height: 50px;
    width: 50px;
}

.jumbotron {
    background-color: GreenYellow;
}

body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: GhostWhite;
}

li {
    padding-right: 5px;
    padding-left: 5px;
}

p {
    font-family: Mako, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;
}